<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{item.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{item.list.headline}]]</h1>
                <div>
                    <a th:href="@{/items/add}" class="btn btn-primary ms-2">[[#{item.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${items.empty}">[[#{item.list.empty}]]</div>
            <div th:if="${!items.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{item.seqId.label}]]</th>
                            <th scope="col">[[#{item.category.label}]]</th>
                            <th scope="col">[[#{item.gender.label}]]</th>
                            <th scope="col">[[#{item.title.label}]]</th>
                            <th scope="col">[[#{item.price.label}]]</th>
                            <th scope="col">[[#{item.viewCount.label}]]</th>
                            <th scope="col">[[#{item.userId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${items}">
                            <td>[[${item.seqId}]]</td>
                            <td>[[${item.category}]]</td>
                            <td>[[${item.gender}]]</td>
                            <td>[[${item.title}]]</td>
                            <td>[[${item.price}]]</td>
                            <td>[[${item.viewCount}]]</td>
                            <td>[[${item.userId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/items/edit/{seqId}(seqId=${item.seqId})}" class="btn btn-sm btn-secondary">[[#{item.list.edit}]]</a>
                                    <form th:action="@{/items/delete/{seqId}(seqId=${item.seqId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{item.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
